.playerSquare
{
    min-height: 100%;
    min-width: 100%;
    border-bottom: 4px solid black;
    border-left: 4px solid black;
}

img{
    width: 12.5%;
    height: 100%;
}

.square{
    display:flex;
    justify-content:center;
    align-items:center;
    overflow: hidden;
}
